.headers {
    color: #6c757d;
    font-size: 5vmin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    font-weight: 800;
    background-color: #e9ecef;
    border-left: .5vmin solid #6c757d;
    width: 100%;
    margin-top: 1%;
    padding: 1%;
}
.stick {
    position: sticky;
    top: 0;
    z-index: 10;
}
.input-text {
    font-size: 2vmin;
}
.userColorName {
    color: black;
    text-decoration: none;
}
.userColorName:hover {
    text-shadow: 2px 2px 5px rgba(167, 176, 179, 0.701);
}